* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin {
  width: 100%;
  height: auto;
  background-color: var(--white);
}

.admin-fieldset {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  width: auto;
  font-size: 0.8em;
  font-family: var(--primary-font);
}

td pre {
  overflow-x: scroll;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  width: 700px;
  height: 200px;
  padding: 10px;
  font-size: 1.5em;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.admin-container {
  margin: 0 auto;
  background-color: var(--background);
  width: 80%;
  height: 100%;
}

.admin-grids-container {
  display: flex;
  gap: 10px;
  width: 100%;
  height: auto;
}

.admin-grid-header {
  font-family: var(--primary-font);
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.admin-grid-header h3 {
  font-family: var(--primary-font);
  text-align: center;
}

.admin-grid-item {
  width: 250px;
  height: 130px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.admin-grid-count {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.admin-grid-count i {
  font-size: 2em;
  color: var(--ghost-button-border);
}

.admin-grid-count p {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 2em;
}

.admin-tables {
  width: 100%;
  margin: 10px 0;
  background-color: var(--white);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.admin-table-header {
  width: 100%;
  height: 50px;
  padding: 1%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.admin-table-header h2 {
  font-family: var(--primary-font);
  font-weight: 600;
}

.admin-users-table {
  width: 100%;
  height: auto;
  overflow: scroll;
}

.admin-table-search {
  width: 300px;
  height: 30px;
  border: 1px #cccccc solid;
  border-radius: 5px;
  padding: 16px;
}

.admin-update-user-btn {
  width: 80px;
  height: 25px;
  padding: 2px;
  border: none;
  background-color: var(--default-primary-button);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.admin-delete-user-btn {
  width: 100%;
  height: 35px;
  padding: 2px;
  border: none;
  background-color: var(--error-button);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.admin-modal-update-user-btn-trg,
.admin-modal-update-user-submit {
  width: 100%;
  height: 30px;
  padding: 2px;
  border: none;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: var(--accent);
}

.admin-add-product-link {
  width: 100px;
  text-align: center;
  height: 30px;
  padding: 5px;
  border: none;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  background-color: var(--accent);
  font-family: var(--primary-font);
  font-size: 0.9em;
}

.admin-modal-update-user-input,
.admin-modal-update-user-city-select {
  width: 100%;
  height: 50px;
  padding-left: 30px;
  border-radius: 10px;
  border: 1px #cccccc solid;
  display: block;
  margin-bottom: 10px;
  transition: 0.2s ease-in-out;
}
