.admin-products {
  width: 100%;
  height: 100%;
  display: flex;
}
.admin-products-table-container {
  width: 100%;
  height: 500px;
  padding: 15px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  overflow: scroll;
  margin-bottom: 10px;
}

.admin-products-table-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.admin-products-table-header input {
  border-radius: 3px;
  border: 1px solid var(--black);
  width: 200px;
  padding: 5px;
}

.admin-products-table-header h3 {
  font-family: var(--primary-font);
}

.admin-products-table-container table {
  border-collapse: collapse;
  width: 100%;
  height: auto;
  background-color: var(--white);
  border: 1px solid #dddddd;
}

.admin-products-table-container table tbody td img {
  width: 100%;
  height: 90px;
  overflow: hidden;
  object-fit: contain;
}

.admin-products-table-container table tbody td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  width: auto;
  font-size: 1em;
  font-family: var(--secondary-font);
}

.admin-products-table-container table thead th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  width: auto;
  font-size: 1.1em;
  font-family: var(--primary-font);
  font-weight: 600;
}

.admin-products-table-container table tbody td pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: var(--primary-font);
  font-size: 1em;
  width: auto;
  height: 100px;
  overflow: hidden;
  overflow: scroll;
}

.admin-products-table-container table thead tr:nth-child(even) {
  background-color: var(--secondary-background);
}

.admin-products-add-item-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  margin: 0 auto;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition: 0.2s ease-in;
  box-sizing: border-box;
}

.modal-close {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  text-align: center; /* Center the text horizontally */
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 30px; /* Vertically center the text (assuming 30px height) */
}

.admin-products-modal-content {
  position: relative;
  width: 1000px;
  height: auto;
  background-color: var(--secondary-background);
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.admin-products-modal-content-form {
  display: block;
}

.admin-products-input-container label {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 0.8em;
  display: block;
  margin-bottom: 5px;
}

.admin-products-legend {
  font-family: var(--primary-font);
  font-style: italic;
  background-color: var(--white);
  padding: 5px;
  border: 1px solid var(--black);
  border-radius: 5px;
}

.admin-products-input-container select,
.admin-products-input-container input {
  border: 1px solid var(--input-border);
  padding: 15px;
  height: 50px;
  resize: none;
  width: 100%;
  border-radius: 4px;
  transition: 0.1s ease-in-out;
}

.admin-products-input-container textarea {
  border: 1px solid var(--input-border);
  padding: 15px;
  height: 100px;
  resize: none;
  width: 100%;
  border-radius: 4px;
  transition: 0.1s ease-in-out;
}

.admin-products-input-container select option {
  font-size: 1em; /* You can change the font size */
  background-color: var(--white); /* Set a background color */
  color: var(--text-color); /* Set the text color */
  border-radius: 0; /* Remove border-radius */
}

.admin-products-input-container select:hover,
.admin-products-input-container textarea:hover,
.admin-products-input-container input:hover {
  border: 1px solid var(--input-border-hover);
}

.admin-products-fieldset {
  padding: 10px;
  width: 100%;
  gap: 15px;
  background-color: var(--white);
  border: 1px solid var(--secondary-background);
  margin: 10px 0;
  border-radius: 5px;
}

.admin-products-submit-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-products-submit-container .admin-products-submit-container-submit {
  width: 100px;
  height: 30px;
  border: none;
  background-color: var(--accent);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--input-border);
}

#admPrdMItmContainer {
  display: none;
}
